<!-- Used by theme-bio-builtin-1 -->

{% if site.data.bio.references %}
<div class="row">
  <div class="two wide column">
    <h3 class="ui left aligned header no-bottom">References</h3>
  </div>

  <div class="fourteen wide column no-bottom">
    <p class="ui no-bottom">
    {% for reference in site.data.bio.references %}
      {% if reference and reference.size > 0 %}
      {{ reference.name }}&nbsp;&nbsp;<a href="{{ reference.url }}" target="_blank">{{ reference.linkText }} <i class="icon external alternate"></i></a>
      {% endif %}
    {% endfor %}
    </p>
  </div>
</div>
{% endif %}
